body, html, #content, #content > .container-fluid, #content > .container-fluid > .row {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 2.3rem;
    line-height: 1.3;
}

p {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}

#content > .container-fluid {
    text-align: center;
}

.avatar {
    width: 12.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    margin: auto;
}

@media (min-width: 768px) {
    body, html, #content, #content > .container-fluid, #content > .container-fluid > .row {
      height: 105%;
    }

    #content > .container-fluid {
        text-align: left;
    }

    .avatar {
        float: right;
    }
}

.icon {
    color: #555;
}

.icon:hover {

    color: #0FA0CE;
    text-decoration: none;
}